name: DevelopmentBuild

on:
  push:
    branches:
      - master

env:
  SOLUTION_FILE_PATH: project/CG2.sln
  CONFIGURATION: Development

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Cache NuGet packages (packages.config)
        uses: actions/cache@v4
        with:
          path: project/packages
          key: nuget-${{ hashFiles('**/packages.config') }}
          restore-keys: |
            nuget-
      - name: Restore NuGet packages
        run: nuget restore ${{ env.SOLUTION_FILE_PATH }}

      - name: Build
        run: msbuild ${{ env.SOLUTION_FILE_PATH }} /p:Platform=x64,Configuration=${{ env.CONFIGURATION }} /m
